.site{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "title"
        "masthead"
        "main"
        "sidebar"
        "footer";
}
masthead{
    grid-area: masthead;
}